* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main-section {
  background: #E2EAF8;
}
.main-section .index-main {
  display: flex;
  padding: 75px 99px;
}
.main-section .index-main .left-m {
  padding-right: 11px;
}
.main-section .index-main .left-m div {
  position: relative;
}
.main-section .index-main .left-m div:nth-child(5)::before {
  content: "";
  background: #3AD4D8;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: 309px;
}
.main-section .index-main .left-m div:nth-child(6)::before {
  content: "";
  background: #FE5538;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -301px;
  left: -94px;
}
.main-section .index-main .left-m .title h6 {
  color: #543EE9;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.main-section .index-main .left-m .fullname {
  padding-bottom: 14px;
}
.main-section .index-main .left-m .fullname h1 {
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
}
.main-section .index-main .left-m .description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 560px;
  margin-bottom: 2.15rem;
}
.main-section .index-main .left-m .subscribe-btn a {
  background: #543EE9;
  border-radius: 30px;
  color: white;
  width: 188px;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.main-section .index-main .right-m div {
  position: relative;
}
.main-section .index-main .right-m div:nth-child(2)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 367px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #D6A7F9;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
}
.main-section .index-main .right-m div:nth-child(3)::before {
  content: "";
  position: absolute;
  top: -347px;
  left: 496px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #671C7C;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
}

.online-card-first {
  padding: 110px 0;
}
.online-card-first .title {
  font-weight: 700;
  font-size: 30px;
}
.online-card-first .flip-card {
  background-color: transparent;
  width: 100%;
  height: 313px;
}
.online-card-first img {
  width: 100%;
  height: 100%;
}
.online-card-first .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.online-card-first .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.online-card-first .flip-card-front {
  display: flex;
  align-items: center;
}
.online-card-first .flip-card-front .flip-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  left: 23px;
  bottom: 16px;
  right: 0;
}
.online-card-first .flip-card-front .flip-content strong {
  color: white;
  font-size: 35px;
  line-height: 50px;
  color: #52DEC1;
  font-weight: bold;
}
.online-card-first .flip-card-front .flip-content h5 {
  color: white;
  font-weight: bold;
}
.online-card-first .flip-card-front,
.online-card-first .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.online-card-first .flip-card-back {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
}
.online-card-first .flip-card-back .flip_back-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  left: 23px;
  bottom: 70px;
  right: 0;
}
.online-card-first .flip-card-back .flip_back-content h5 {
  color: black;
  font-size: 15px;
  margin-bottom: 0;
}
.online-card-first .flip-card-back .flip_back-content strong {
  font-size: 35px;
  line-height: 50px;
  color: #52DEC1;
  font-weight: bold;
}
.online-card-first .flip-card-back .flip_back-content p {
  color: black;
  text-align: left;
  padding-top: 20px;
}
.online-card-first .subtitle {
  max-width: 614px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.online-card-first .card-item {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.online-card-second {
  padding: 110px 0;
}
.online-card-second .slick-prev {
  position: absolute;
  line-height: 1;
  color: #543EE9;
  opacity: 0.75;
  width: 29px;
  height: 29px;
  top: 332px;
  background: transparent;
  left: 44px;
  box-shadow: 0px 0px 10px rgba(101, 101, 101, 0.25);
}
.online-card-second .slick-prev::after {
  position: absolute;
  line-height: 1;
  color: #543EE9;
  opacity: 0.75;
  width: 29px;
  height: 29px;
  top: 332px;
  background: transparent;
  left: 44px;
  box-shadow: 0px 0px 10px rgba(101, 101, 101, 0.25);
}
.online-card-second .all-item a {
  background: #FFFFFF !important;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  border-radius: 50px;
  height: 50px;
  color: black !important;
  border: none;
  outline: none;
  width: 13%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;
}
.online-card-second .card {
  width: 95% !important;
  height: 100% !important;
  border-radius: 0px;
  background: #FFFFFF;
}
.online-card-second .card .slick-slide {
  width: 100%;
  height: 100% !important;
}
.online-card-second .card .card-body {
  padding: 2rem 1.4rem;
}
.online-card-second .card .card-body .card-text {
  margin-bottom: 4rem;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.online-card-second .card .card-body .bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.online-card-second .card .card-body .bottom-content .btn {
  background: #543EE9;
  outline: none;
  border: none;
  width: 35%;
  border-radius: 30px;
  transition: 0.5s ease-in-out;
}
.online-card-second .card .card-body .bottom-content .price-card h6 {
  font-size: 15px;
  line-height: 20px;
  color: #3AD4D8;
}
.online-card-second .card .card-title-first {
  display: flex;
  gap: 1rem;
}
.online-card-second .card .card-title-first .title-first {
  display: flex;
  align-items: center;
}
.online-card-second .card .card-title-first .square {
  background: #3AD4D8;
  width: 4px;
  height: 4px;
  margin-left: 1rem;
  margin-top: -0.3rem;
  border-radius: 50%;
}
.online-card-second .card .card-title-first div {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #FE5538;
}
.online-card-second .card .card-title-second {
  font-family: "Futurica";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 11px;
  margin-bottom: 38px;
}
.online-card-second .card:hover .card-text {
  opacity: 1;
  transition: 0.5s ease-in-out;
}
.online-card-second .card:hover .btn {
  background: #fff !important;
  color: black;
  transition: 0.5s ease-in-out;
  border: 1px solid #353535 !important;
}
.online-card-second .card:hover img {
  padding: 10px 10px 10px 10px;
}
.online-card-second .title {
  font-weight: 700;
  font-size: 30px;
}
.online-card-second img {
  width: 100%;
  border-radius: 0;
  transition: 0.5s ease-in-out;
  height: 213px;
}
.online-card-second .card-item {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.info-item {
  background: #E2EAF8;
}
.info-item::before {
  content: "";
  height: 592px;
  left: 0px;
  top: 3921px;
  position: absolute;
  background: #E2EAF8;
}
.info-item .all-info {
  display: flex;
  padding: 88px 88px;
}
.info-item .all-info .left-h {
  width: 52%;
}
.info-item .all-info .left-h img {
  position: relative;
  z-index: 111111111;
}
.info-item .all-info .left-h div {
  position: relative;
}
.info-item .all-info .left-h div:nth-child(1) {
  background: #671C7C;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 111111111111;
}
.info-item .all-info .left-h div:nth-child(2) {
  background: #FE5538;
  box-shadow: 30px 20px 11px rgba(101, 101, 101, 0.25);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 111111111111;
  top: 101%;
  left: 46%;
}
.info-item .all-info .left-h div:nth-child(5)::before {
  content: "";
  background: #671C7C;
  box-shadow: 30px 4px 27px rgba(82, 82, 82, 0.25);
  border-radius: 5px;
  transform: rotate(-37.25deg);
  width: 211px;
  height: 234px;
  position: absolute;
  z-index: 1;
  left: 248px;
  top: -190px;
}
.info-item .all-info .left-h div:nth-child(4)::before {
  content: "";
  background: #3AD4D8;
  box-shadow: 30px 4px 27px rgba(82, 82, 82, 0.25);
  border-radius: 5px;
  transform: rotate(-37.25deg);
  width: 211px;
  height: 234px;
  position: absolute;
  z-index: 1;
  left: -36px;
  top: -404px;
}
.info-item .all-info .right-h {
  width: 42%;
  padding-top: 37px;
}
.info-item .all-info .right-h h6 {
  font-size: 15px;
  line-height: 20px;
  color: #543EE9;
  margin-bottom: 0;
  font-weight: bold;
}
.info-item .all-info .right-h h1 {
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  text-transform: capitalize;
  color: #181818;
  min-width: 488px;
  margin-bottom: 1.7rem;
}
.info-item .all-info .right-h P {
  max-width: 483px;
  margin-bottom: 1.6rem;
}
.info-item .all-info .right-h .info-all a {
  background: #543EE9;
  border-radius: 30px;
  width: 30%;
  border: none;
  outline: none;
  font-size: 15px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */